<html>
<head>
    <title>Production Form</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    h1{
        color:darkorange;
        text-align: center;
    }
    body{
        background-color:aquamarine;
    }
    #s1{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
</style>
</head>
<body>
<div class="container">
    <div class="row">
         <div class="offset-md-3 col-md-6">
<form method="POST">
    <h1>Product Details</h1>
    {% csrf_token %}
    {{ pform }}<br>
      <center>
    <input type="submit" id="s1" value="Create" class="btn bg-success text-white">
    <input type="reset" id="s1" value="Clear" class="btn bg-danger text-white">
     </center>
    </form><br>
<center>
<a href="/#/" class="btn bg-primary text-white">Goto Home</a>
</center>
        </div>
    </div>
</div>
</body>
</html>