<html>
<head>
    <title>Production Data</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    h1{
        text-align: center;
        color:royalblue;
    }
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
    body{
        background-color:sandybrown;
    }
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            {% if rdata %}
                <h1>Production Data</h1>
            <table border="2px">
                    <thead>
                    <tr>
                        <th>p_id</th>
                        <th>p_name</th>
                        <th>p_cost</th>
                        <th>p_color</th>
                        <th>p_class</th>
                        <th>c_name</th>
                        <th>c_mobile</th>
                        <th>c_email</th>
                    </tr>
                    </thead>

                    {% for i in rdata %}
                        <tbody>
                        <tr>
                            <td>{{ i.p_id }}</td>
                            <td>{{ i.p_name }}</td>
                            <td>{{ i.p_cost }}</td>
                            <td>{{ i.p_color }}</td>
                            <td>{{ i.p_class }}</td>
                            <td>{{ i.c_name }}</td>
                            <td>{{ i.c_mobile }}</td>
                            <td>{{ i.c_email }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                {% endif %}<br>
        <center>
        <a href="/#/" class="btn bg-primary text-white">Goto Home</a>
        </center>
        </div>
    </div>
</div>
</body>
</html>